# Example .env file for DataBUS. This file should be renamed to .env and updated with the appropriate database connection information for your environment.

PGDB_TANK={"host": "holdingtank", "port": 1234, "database": "tank", "user": "postgres", "password": "postgres"}
PGDB_PROPER={"host": "neotoma_proper", "port": 1234, "database": "proper", "user": "postgres", "password": "postgres"}
PGDB_PROPER={"host": "neotoma_local", "port": 1234, "database": "local", "user": "postgres", "password": "postgres"}