
.DS_Store
uv.lock
.env
.venv
.coverage
.claude
**/__pycache__/
**.egg-info/
data/*
# But keep these two files
!data/template_example.yml
!data/data_example.csv

build/
validation_playground.py

playground_results.yml

# Eventually Add:
.github/workflows/release.yml