
.DS_Store
uv.lock
.env
.venv
.coverage
.claude
**/__pycache__/
**.egg-info/
data/*
# But keep these two files
!data/template_example.yml
!data/data_example.csv

build/
validation_playground.py
docs/*.md

playground_results.yml
src/DataBUS/neotomaUploader/tests/
src/DataBUS/neotomaHelpers/tests/


# Eventually Add:
.github/workflows/release.yml